<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/css/desktop/email_confirm.css' %}">
</head>
<body>
    <div class="content">
        <a class="email-confirm" href="/">
            Регистрация прошла успешно!<br>
            На ваш email было отправлено письмо с подтверждением.<br>
            Пожалуйста, подтвердите ваш аккаунт,<br>пройдя по ссылке в письме.
            <br>(Нажмите что бы перейти на главную)
        </a>
    </div>
</body>
</html>